<div class="col-6">
      <div class="mb-3">
        <%= link_to "Home", dashboard_path, class:"fs-2 text-decoration-none text-black fw-semibold"%>
      </div>
     <div class="mb-4">
       <%= render"shared/tweet_form", local: false %>
     </div>
<!--      <ul>-->
        <%# Tweet.order(created_at: :desc).each do |tweet| %>
<!--          <li><%#= tweet.body%></li>-->

          <%#aadswdsawdawdadasdwdasdwdsdawdsdasaaasdsawdsawdsd.    sdwdwdwwasad= render "tweets/tweet", tweet: tweet %>

        <%# end %>
<!--      </ul>-->
  <div id="tweets">
    <%# Tweet.order(created_at: :desc).map { |tweet| TweetPresenter.new(tweet) }.each do |tweet_presenter| %>
        <%#= render "tweets/tweet", locals: { tweet_presenter: tweet_presenter } %>
    <%# end %>
    <%#= render partial: "tweets/tweet", locals: { } %>
    <%= render partial: "tweets/tweet", collection: Tweet.order(created_at: :desc).map { |tweet| TweetPresenter.new(tweet)}, as:  :tweet_presenter %>
  </div>
    </div>
<!--    LEFT SIDE-->
    <div class="col-3">
      Column
    </div>


